<%= paginate @products %>
<div class="container">
  <h1 class="text-3xl font-bold mb-4">Products</h1>

  <div class="flex flex-wrap mb-4">
  <% Category.all.each do |category| %>
    <%= link_to category.name, products_by_category_path(category), class: "mr-4 mb-2 px-4 py-2 rounded-md bg-gray-200 hover:bg-gray-300" %>
  <% end %>
</div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% @products.each do |product| %>
      <div id="product_<%= product.id %>" class="bg-white rounded-lg overflow-hidden shadow-md">
        <div class="p-4">
          <h2 class="text-xl font-semibold mb-2"><%= "#{product.id}. #{product.name}" %></h2>
          <a href="<%= product_path(product) %>" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition-colors">View Details</a>
        </div>
      </div>
    <% end %>
  </div>

</div>
