<div class="container mx-auto py-8">
<%= form_tag(products_path, method: "get", class: "mb-4") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search products...", class: "w-full border border-gray-300 rounded px-4 py-2" %>
  <%= submit_tag "Search", class: "mt-2 bg-blue-500 text-white px-4 py-2 rounded" %>
<% end %>

</div>

  <% @products.each do |product| %>
    <div class="mt-4">
      <h2 class="text-lg font-semibold"><%= product.name %></h2>
      <p class="mt-2 text-gray-700"><%= product.desc %></p>
      <p class="mt-2 text-gray-700">Price: <%= product.price %></p>
    </div>
  <% end %>

  <%= paginate @products, class: "mt-4" %>
</div>
