<!-- Tailwind CSS styles for products/index.html.erb -->

<div class="container mx-auto py-8">
  <%= form_tag(products_path, method: "get", class: "mb-4") do %>
    <div class="flex">
      <%= text_field_tag :search, params[:search], placeholder: "Search products...", class: "w-full border border-gray-300 rounded-l px-4 py-2" %>
      <%= select_tag :filter, options_for_select([["All", ""], ["Products on Sale", "on_sale"], ["New Products", "new"], ["Recently Updated Products", "recently_updated"]], params[:filter]), class: "border border-gray-300 rounded-r px-4 py-2" %>
      <%= submit_tag "Search", class: "bg-blue-500 text-white px-4 py-2 rounded-r" %>
    </div>
  <% end %>

  <div class="filter-options mt-4">
    <%= link_to "Products on Sale", products_path(filter: "on_sale"), class: "mr-4" %>
    <%= link_to "New Products", products_path(filter: "new"), class: "mr-4" %>
    <%= link_to "Recently Updated Products", products_path(filter: "recently_updated") %>
  </div>

  <% Category.all.each do |category| %>
    <%= render partial: 'shared/category_navbar', locals: { category: category } %>
  <% end %>

  <% @products.each do |product| %>
    <div class="mt-4">
      <h2 class="text-lg font-semibold"><a href="<%= product_path(product) %>"><%= product.name %></a></h2>
      <p class="mt-2 text-gray-700"><%= product.desc %></p>
      <p class="mt-2 text-gray-700">Price: <%= product.price %></p>
      <form action="<%= add_to_cart_product_path(product) %>" method="post">
        <input type="hidden" name="_method" value="post">
        <input type="hidden" name="product_id" value="<%= product.id %>">
        <input type="submit" value="Add to Cart" class="bg-blue-500 text-white px-4 py-2 rounded">
      </form>
    </div>
  <% end %>

  <%= paginate @products, class: "mt-4" %>
</div>

<div class="mt-4">
  <%= link_to "View Cart", view_cart_products_path, class: "text-blue-500 hover:underline" %>
</div>
